<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/top.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/leftnav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <script type="text/javascript">
        window.onload=function(){

            var ln = document.getElementById('leftnav');
            var lna = ln.getElementsByTagName('a');
            lna[0].innerText="通知";
            lna[1].innerText="发布";
            lna[2].innerText="人员";

            lna[0].setAttribute("href","/admin/tip/");
            lna[1].setAttribute("href","/admin/sendout/");
            lna[2].setAttribute("href","/admin/people/");
        }

    </script>
</head>
<body>
<%- include top %>
<%- include header %>
<%- include nav%>
<div id="con">
    <%- include aleftnav%>
    <div class="contentnav">
      <span>
        <a href="/admin/">螺丝工作室后台管理 ></a>
        <a href="/admin/">就是这里</a>
        <a href="#">=.=</a>
      </span>
    </div>



    <div id="content">
        <h2><span>基</span><span>本</span><span>信</span>息</h2>
        <div id="a">
            <h2>Welcome To Rose !</h2>
        </div>
    <br>
    <ul style="display:block;margin-top:80px;margin-left:80px;">

         <li>总访问量:<%=data.svisited%>次</li>
        <li>今日访问:<%=data.svisitedToday%>次</li>
        <li>成员人数:<%=data.totalNum%>人</li>
        <% data.groups.forEach(function(g){%>
        <li><span><%=g.name%>:  <%=g.num%></span></li>
        <%});%>
        <li>新闻总数:<%=data.newsNum%>次</li>
        <li>大事件总数:<%=data.eventsNum%>次</li>
        <li>成果总数:<%=data.achievementsNum%>次</li>
        <li>榜样总数:<%=data.examplesNum%>次</li>
        <li>招新状态:<%=data.staute%></li>
    </ul>

    </div>
</div>

</body>
</html>
