
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>团队介绍</title>


    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/top.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/leftnav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/b2.css">


    <script type="text/javascript" src="/javascripts/jquery-2.1.1.js"></script>

    <script type="text/javascript" src="/javascripts/link_fabu.js"></script>
    <script type="text/javascript" src="/javascripts/link_b2.js"></script>
</head>

<body>
<%- include atop %>
<%- include aheader %>
<%- include anav%>
<%- include aleftnav%>


<div class="contentnav">
      <span>
          <a href="/admin/">螺丝工作室后台管理 ></a>
          <a href="/admin/Sendout">发布</a>
          <a href="#">团队介绍=。=</a>

      </span>
</div>

<div id="a">
    <h> 团队介绍</h>
    <div id="b">
        <div id="old">


            <span id="tuandui" ><%=data.sname%></span>
            <input type="image" value="修改" class="xiugai"  >
            </br>

            <span class="s1">负责人: <span id="fuzeren"><%=data.leader%></span>   </span>


            <span class="s2">老师: <span  id="laoshi"><%=data.teacher%></span>     </span>


            <span id="gengxinriqi">2014-9-18 21:22</span>
            <span class="s3">更新日期:</span>



            </br>



            <span class="s4">邮箱:</span>  <span id="youxiang"><%=data.semail%></span>


            <span id="dizhi"><%=data.saddress%></span>
            <span class="s5" >地址:</span>

            <span class="s6">电话:</span>  <span id="dianhua"><%=data.stelephone%></span>
            <br>

            <div>
                <div  class="text">
                    <p id ="p1"><%=data.scontent%></p>
                </div>

                <div class="img">
                    <img src="/images/u55.png" style="width:330px; height:100px;  float:left; margin-left:16px; margin-top:36px; " >
                </div>
            </div>
        </div>


        <!--   /////////////////////////////////////////////////////////////       编辑///////////////////////////////// -->
        <div id="editDiv" style="display:none;">

            <input type="text" id="tuandui_x" class="input1">
            <input type="image" value="确认"  class="queren">
            </br>

            <span class="s1">负责人:<input type="text" id="fuzeren_x" class="input1">   </span>


            <span class="s2">老师: <input type="text" id="laoshi_x" class="input1">     </span>

            <input type="text" id ="gengxinriqi_x" class="input1">
            <span class="s3">更新日期:</span>




            </br>



            <span class="s4">邮箱:</span> <input type="text" id="youxiang_x" class="input1">



            <span class="s6">电话:</span>   <input type="text" id ="dianhua_x" class="input1">


            <span class="s5" >地址: <input type="text" id="dizhi_x" >   </span>

            <div>
                <div  class="text">
                    <textarea id="content_x"  class="text1" ></textarea>
                </div>

                <div class="img" >
                    <p id="change">更改图片</p>
                    <div class="none"> <input type="file" class="file">  </div>
                </div>
            </div>
        </div>


        <%
         if(data.sculture==null||data.sculture==""||data.sculture.length==0){
             %><h3>没有文化了..</h3><%
         }
         else{
             for( var i=0;i<data.sculture.length;i++){
                 %>
        <div class="div2">
            <span  class="t0" hidden><%=data.sculture[i]._id%></span>
            <span class="t1"><%=data.sculture[i].cname%></span>
            <span >更新日期:</span><span class="t2"><%=data.sculture[i].ctime.toLocaleDateString()%></span>
            <input type="image" class="text_edit" value="修改">
            </br>

            <div class="t3">
                <%=data.sculture[i].ccontent%>
            </div>

        </div>
        <%
             }
         }
        %>
        <div id="t_new">
            <input type="hidden" class="t0_x" hidden>
            <input class="t1_x">
            <span hidden>更新日期:</span><input hidden class="t2_x"></span>
            <input type="image" class="text_queren" value="确定">
            </br>

            <textarea class="t3_x">

            </textarea>
        </div>

        <div id="t_old">
            <span hidden class="t0"></span>
            <span class="t1"></span>
            <span >更新日期:</span><span class="t2"></span>
            <input type="image" class="text_edit" value="修改">
            </br>
            <div class="t3">

            </div>
        </div>
        </br>

        <div id="more">
            <a id="add"> 添加更多团队文化</a>
        </div>
        </div>
    </div>
</body>
</html>