<% include theader%>
    <link rel="stylesheet" type="text/css" href="/stylesheets/xiangmushenqing.css">


    <script type="text/javascript" src="/javascripts/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/javascripts/xiangmushenqing.js"></script>
    <script type="text/javascript" src="/javascripts/link.js"></script>
</head>

<body>
<%- include top %>
<%- include header %>
<%- include nav%>
<div id="con">
    <%- include leftnav%>
    <div class="contentnav">
      <span>
        <a href="/user/">螺丝工作室个人管理 ></a>
        <a href="projectInfo">申请项目 ></a>
        <a href="projectsList">项目申请</a>
      </span>
    </div>
    <div id="content">
        <div id="b">
            <span>项</span><span>目</span><span>申</span><span>请</span>
            <select class="field">
                <option value="1">geek创意</option>
                <option value="2">科研项目</option>
                <option value="3">外包项目</option>
                <option value="4">校园作品</option>
            </select>
        </div>


        <% for(var i=0; i<data.length;i++){
            switch (data[i].ptype){
                case 0:
            %>    <div class="text">  <%;break;
                case 1:
            %>    <div class="text1">  <%;break;
                case 2:
            %>    <div class="text2">  <%;break;
                case 3:
            %>    <div class="text3">  <%;break;
        }
        %>
            <span class="span1"><%=data[i].ptitle%></span>
                <span class="span2">类型：<%=data[i].ptype%></span>
            <span class="span3">状态：<%=data[i].pstaute%></span>
            <span class="span4">更新日期：<%=data[i].ptime%></span>
            <p><%=data[i].pcontent%></p>
            <form action="joinProjects" method="post">
            <span class="span5">成员：</span>
            <%for (var j=0;j<data[i].pmembers.length;j++){%>
            <span class="span5"><%data[i].pmembers[j].uname%></span>
                <%}%>
                <span id="span6">附件：</span>
                <%for (var j=0;j<data[i].pdocs.length;j++){%>
                <a href="<%data[i].pdocs[j]%>"><span class="span7">需求文档</span></a>
                <%}%>

                    <input type="hidden" value="<%=data[i]._id %>" name="ppid">
                    <span class="span8"><input type="submit" id="submit3"  onclick="return false;" value="加 入"></span>
                    <textarea hidden name="content" required></textarea>
                </form>
        </div>
        <%}%>

    </div>
</div>
</body>

</html>