

<html>
<head>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/top.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/leftnav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bianjijinengshu.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/javascripts/bianjijinengshu.js"></script>

</head>

<body>
<%- include top %>
<%- include header %>
<%- include nav%>
<div id="con">
    <%- include leftnav%>
    <div class="contentnav">
      <span>
        <a href="/">螺丝工作室个人管理 ></a>
        <a href="/gerenziliao">个人资料 ></a>
        <a href="/bianjijinengshu">编辑技能树</a>
      </span>
    </div>
    <div id="content">
        <h2><span>编</span><span>辑</span><span>技</span><span>能</span>树</h2>
        <div id="a">

            <p>已选技能</p>
            <div id="sel" style="width:440px;height:80px">


            </div>

            <p>技能列表</p>
            <div id="wei" style="width:440px;height:80px">
                <%for(var i=0;i<data.allSkills.length;i++){%>
                <span><input value="<%=data.allSkills[i]%>" readonly><img class="add" src="/images/u77.png"></span>
                <%}%>
            </div>

            <input type="button" class="sel_ok" value="选好啦">
            <div>
            <p>自定义技能</p>
            <input id="shuru" type="text"><img id="zidingyi" src="/images/u77.png">
            </div>

        <div>
            <%
            for(var j = 0;j<data.userSkills.length;j++){%>
            <li>已有技能:<%=data.userSkills[j]%></li>
            <%}%>
        </div>
        </div>

    </div>
</div>
</body>

</html>